.final-score {
    font-size: 48px;
}

.good-score {
    color: rgb(7, 206, 7);
}

.mediocre-score {
    color: rgb(176, 206, 7);
}

.bad-score {
    color: rgb(230, 76, 16);
}

.thin {
    font-weight: 400;
}

.row-divider {
    width: 40%;
    margin: auto;
    color: black;
}

.client-data {
    margin-top: 40px;
    h4 {
        margin-bottom: 30px;
    }
}
